@font-face {
  font-family: 'Meander';
  src: url('../fonts/meander-webfont.eot');
  src: url('../fonts/meander-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/meander-webfont.woff') format('woff'),
       url('../fonts/meander-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

%quesa-font {
  font-family: Meander, cursive;
  font-weight: normal;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .9);
  line-height: 1.8;
}

/* Main font */

body {
  font-family: Chivo, Tahoma, Helvetica, Arial, sans-serif;

  // Use Typeplate, not Bootstrap
  font-size: inherit;
  line-height: inherit;
}

/* Special font */

.alpha, .beta, .gamma, %hN {
  @extend %quesa-font;
}

.quesa {
  @extend %quesa-font;
  font-size: 1.2em;
}
