@font-face {
  font-family: 'Meander';
  src: url('../fonts/meander-webfont.eot');
  src: url('../fonts/meander-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/meander-webfont.woff') format('woff'),
       url('../fonts/meander-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
