// Bulles magiques
.js-bulle {
  font-family: Meander, cursive;
  position: absolute;
  color: white;
  padding: 10px;
  pointer-events: none;
  z-index: -100;
}

// Onglets de nos têtes
.js .face-tabs {
  position: relative;
  clear: both;

  // Tête et nom
  dt {
    @extend .quesa;
    width: 12.5%;
    min-width: 70px;
    margin: 1em 0;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    float: left;
    position: relative;
    overflow: hidden;

    .face {
      position: relative;
      z-index: 1;

      // Flèche du bas
      &:after {
        border: 6px solid transparent;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #fff;

        margin-left: -6px;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        top: 100%;
        left: 50%;
        pointer-events: none;
      }

      img {
        display: block;
        width: 90%;
        height: auto;
        border: 2px solid white;
        border-radius: 1ex;
        @extend .greyscale;
      }
    }

    .nom {
      @include transition(margin 200ms);
      margin-top: -1.8em;
      opacity: .7;
      z-index: 2;
    }

    &:hover {
      .nom {
        margin-top: .5em;
        opacity: .6;
      }
      .face .greyscale {
        @include filter(none);
      }
    }

    &.selected {
      .nom {
        margin-top: .5em;
        opacity: 1;
      }
    }
  }

  // Description
  dd {
    margin: 1.5em 0 0 0;
    top: 120px;
    line-height: 1.2;
    clear: both;
  }

  .current-face {
    clear: both;
  }
}
