@mixin selection {
  $prefixes: ("-webkit-","-moz-", "-o-", "");
  @each $prefix in $prefixes {
    ::#{$prefix}selection {
      @content;
    }
  }
}

@mixin transition-filter($args...) {
  $prefixes: ("-webkit-","-moz-", "-o-", "");
  @each $prefix in $prefixes {
    #{$prefix}transition: #{$prefix}filter $args;
  }
}


@mixin greyscale {
  -webkit-transition: -webkit-filter 1s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  &:hover {
    @include filter(none);
  }
}
