@import "compass";
@import "typeplate";

@import "mixins";
@import "fonts";
@import "js";
@import "layout";

/* Base html */

body {
  background: #12729d url(../img/fond.jpg);
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .6);
  margin: 0;
  padding: 0;
}

strong {
  font-weight: normal;
  background: rgba(255, 255, 255, .2);
  padding: 0 .2em;
}

hr {
  border: 0;
  border-bottom: 2px dotted white;
  opacity: .3;
  margin: 1.5em 0 1em 0;
}

@include selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* Links */

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
  @include single-transition(border-bottom-color, 1s);

  &:hover {
    color: inherit;
    text-decoration: none;
    border-bottom-color: #fff;
  }
}

a.go-down {
  cursor: s-resize;
}


/* Icons */

.icon {
  vertical-align: -.1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .5ex;
}
.icon-map-marker {
  @extend .icon;
  background: inline-image('../img/icons/map-marker.svg') no-repeat top left;
}

/* Images */

.full-width {
  width: 100%;
}

.greyscale {
  @include transition(all 1s); // transition juste sur filter fonctionne mal
  @include filter(grayscale(100%));
  &:hover {
    @include filter(none);
  }
}

/* Metro */

abbr.metro {
  font-size: .7em;
  text-decoration: none;
  cursor: help;

  // rond autour
  border-radius: 3em;
  border: 2px solid;
  padding: .2ex .5ex;
}

/* Chromeframe */

.chromeframe {
  margin: 0 0 1em 0;
  padding: .5em 0;
  background: #ccc;
  color: #000;
  text-shadow: none;
  text-align: center;
  a {
    color: white;
  }
}



/* Logo */

.logo {
  text-align: center;
  min-width: 330px;
  @media (max-width: 700px) {
    display: block;
  }
}

.logo-text {
  position: relative;
  text-transform: lowercase;
}

.goutte {
  background: inline-image('../img/icons/goutte.png') no-repeat bottom;
  width: 12px;
  height: 29px;
  content: "";
  display: inline-block;
  vertical-align: -0.5ex;
  margin-left: -.5ex;
}


/* Évenement */

.titre-evenement {
  @media (max-width: 700px) {
    text-align: center;
  }
}

.type-evenement {
  @media (min-width: 700px) and (max-width: 890px) {
    font-size: .9em;
  }
}

.prochain-evenement {
  @media (max-width: 700px) {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}

/* Social */

.social {
  @media (max-width: 800px) {
    .cell {
      display: block;
      padding-left: 0;
      padding-right: 0;
      width: auto;
    }
  }
}


/* Bigmap */

.bigmap {
  margin-bottom: 2em;
  a {
    opacity: .8;
    color: rgba(255, 255, 255, 0); // Cache le texte
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // Basse def et haute def (scale=1 et scale=2)
    background-image: url(http://maps.googleapis.com/maps/api/staticmap?size=650x250&scale=1&center=8%20rue%20bachaumont,%2075002%20Paris&zoom=15&sensor=false&markers=color:blue|8%20rue%20bachaumont,%2075002%20Paris&style=feature:landscape.man_made|hue:0x0091ff|saturation:39|lightness:-14&style=feature:road.arterial|element:geometry.fill|visibility:on|hue:0x003bff|saturation:-66|lightness:92&style=feature:road.arterial|element:labels.text.stroke|hue:0x0091ff|lightness:43&style=feature:poi.school|hue:0x005eff|saturation:-19|lightness:-26&style=feature:transit.station|hue:0x002bff|saturation:100&style=hue:0x0091ff);
    @media (min-width: 550px) {
      background-image: url(http://maps.googleapis.com/maps/api/staticmap?size=650x250&scale=2&center=8%20rue%20bachaumont,%2075002%20Paris&zoom=15&sensor=false&markers=color:blue|8%20rue%20bachaumont,%2075002%20Paris&style=feature:landscape.man_made|hue:0x0091ff|saturation:39|lightness:-14&style=feature:road.arterial|element:geometry.fill|visibility:on|hue:0x003bff|saturation:-66|lightness:92&style=feature:road.arterial|element:labels.text.stroke|hue:0x0091ff|lightness:43&style=feature:poi.school|hue:0x005eff|saturation:-19|lightness:-26&style=feature:transit.station|hue:0x002bff|saturation:100&style=hue:0x0091ff);
    }

    // On fait en sorte de toujours voir Métro Jourdain
    height: 350px;
    @media (min-width: 900px) { height: 400px; }
    @media (min-width: 950px) { height: 490px; }

    display: block;
  }
}
